---
const title = '佐坤 · Zuokun Ouyang';
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body>
    <h1>研究增量，也创造新东西。</h1>
    <p>佐坤</p>
  </body>
</html>
